# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Ignore large/raw data only
data/raw/
data/processed/embeddings_cache/
data/processed/pinterest_cache/

# Large model/embedding files
*.pt
*.pth
*.ckpt
*.pkl
*.npy
*.npz

# Logs
*.log
